<div class="workout">
  <h1>Welcome back {{ user.firstName }}!</h1>
  <h2>Ready for toady's workout?</h2>

  <div class="goal">
    <h2>Goal: {{ "Lose 5kg" }}</h2>
    <div class="status-bar-goal">{{ "%" }}</div>
    <div class="status-bar-done"></div>
  </div>

  <div class="new-training">
    <h3>Want to add new training?</h3>
    <button>></button>
  </div>

  <div class="workouts" *ngFor="let workout of workouts">
    <div class="workout">
      <img [src]="workout.imageUrl ?? 'default'" alt="">
      <div class="time">
        Time: {{ workout.time }} min
      </div>
      <p>{{ workout.level }}</p>
      <h1>{{ workout.title }}</h1>
      <p>{{ workout.description }}</p>
    </div>
  </div>
</div>
