:host {
  height: 100%;
  width: 100%;
}

.workout {
  //background-color: red;

  h1 {
    display: flex;
    font-weight: bold;
    font-size: 48px;
    justify-content: left;
    align-items: start;
    //background-color: #007bff;
  }

  .new-training {
    display: flex;
  }
}
