:host {
  height: 100%;
  width: 100%;
}

.workout {
  //background-color: red;

  h1 {
    display: flex;
    font-weight: bold;
    font-size: 48px;
    justify-content: left;
    align-items: start;
    //background-color: #007bff;
  }

  .new-training {
    display: flex;
  }

  .todays-progress {
    .ellipse {
      position: absolute;
      width: 400px;
      height: 400px;
      background: conic-gradient(
          #FF0 0%,
          #FF0 75%,
          #FFF 75%,
          #FFF 100%
      );
      border-radius: 50%;
    }
  }
}
