<app-back></app-back>

<div class="create-workout">
  <div class="workout-header">
    <p>Title</p>
    <input type="text" class="workout-input">

    <p>Description</p>
    <input type="text" class="workout-input">

    <p>Image</p>
    <input id="file-image" type="file" class="workout-input">
    <label for="file-image">Upload Image</label>

    <p>Time</p>
    <input type="text" class="workout-input">

    <p>Level</p>
    <input type="text" class="workout-input">
  </div>

  <div class="create-exercise">
    <div class="exercise-header">
      <p>Exercise Name</p>
      <input type="text" class="exercise-input">
    </div>

    <div class="create-set">
      <div class="set-header">
        <p>Reps</p>
        <input type="number" class="set-input">

        <p>Weight</p>
        <input type="number" class="set-input">
      </div>

      <button class="set-button">Add Set</button>
    </div>

    <button class="exercise-button">Add Exercise</button>
  </div>
</div>
