@use "../../../../core/styles/mixins" as *;

.post {
  height: auto;
  max-width: 750px;
  margin: 2rem auto;
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  box-sizing: border-box;
  @include glass-effect;

  @media (max-width: 768px) {
    max-width: none;
  }

  .content {
    width: 100%;
    gap: 1rem;

    h3 {
      color: black;
    }

    header {
      width: 100%;
      text-align: left;
      align-items: center;

      .image {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        cursor: pointer;
      }

      .username {
        margin: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333333;
        cursor: pointer;
      }

      .dot {
        margin-right: 10px;
        font-size: 2rem;
      }

      .date {
        color: #888888;
      }

      .see-more {
        margin-left: auto;
        cursor: pointer;
      }
    }

    p {
      font-size: 1rem;
      color: #555;
    }

    .media {
      position: relative;
      overflow: hidden;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .meta {
      height: 100%;
      font-size: 1rem;
      color: #888;
      gap: 20px;
    }
  }
}
