@import 'variables';

* {
  font-family: $font-family-base;
}

h1, h2, h3 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  color: $text-primary;
}

h1 {
  font-size: $h1-font-size;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

h2 {
  font-size: $h2-font-size;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

h3 {
  font-size: $h3-font-size;
  line-height: 1.2;
  letter-spacing: -0.05em;
}
