<div class="profile flex flex-center">
  <div class="profile__left flex flex-col">
    <img [src]="user.imageUrl || 'assets/profile.svg'" alt="User Profile Picture" />
    <p class="profile__fullname">{{ user.firstName }} {{ user.lastName }}</p>
  </div>

  <div class="profile__right flex flex-col">
    <div class="profile__top-row flex">
      <p class="profile__username">{{ user.username }}</p>
      <ng-container *ngIf="currentUser.username.value === user.username">
        <button>✏️</button>
        <button (click)="logout()">➜]</button>
      </ng-container>
    </div>

    <div class="profile__stats flex">
      <div class="followers" (click)="openFollowers()">
        <strong>{{ user.followersCount }}</strong>
        <p>Followers</p>
      </div>
      <div class="following" (click)="openFollowing()">
        <strong>{{ user.followingCount }}</strong>
        <p>Following</p>
      </div>
    </div>
    <div *ngIf="currentUser.username.value !== user.username" class="profile__actions flex flex-center">
      <button *ngIf="!isFollowing" (click)="follow()" class="unfollowed">Follow</button>
      <button *ngIf="isFollowing" (click)="unfollow()" class="followed">Unfollow</button>
    </div>

    <!--  ToDo  -->
    <!--    <p class="profile__description">{{ user.description || 'No description yet.' }}</p>-->
    <p class="profile__description">{{ 'No description yet.' }}</p>
  </div>
</div>

<main>
  <div class="title" *ngIf="posts.length !== 0"><strong>POSTS</strong></div>
  <div class="posts grid grid-cols-3">
    <div (click)="openPost(post)" *ngFor="let post of posts" class="post">
      <img [src]="post.contentUrl" alt="Post Image">
    </div>
  </div>
</main>

<app-post-modal
  *ngIf="postModal"
  [post]="selectedPost!"
  (close)="postModal = false"
  (postChange)="updatePost($event)"
></app-post-modal>

<app-followers-list
  *ngIf="followers"
  [followers]="followers"
  (close)="followers = null"
></app-followers-list>

<app-following-list
  *ngIf="following"
  [following]="following"
  (close)="following = null"
></app-following-list>
