<header>
  <img [src]="user.imageUrl" alt="User Profile Picture">
  <p>{{ user.firstName }} {{ user.lastName }}</p>
</header>
<section>
  <p>{{ user.username }}</p>
  <ng-container *ngIf="currentUser.username.value === user.username">
    <button>Edit Profile</button>
    <button (click)="logout()">Logout</button>
  </ng-container>
</section>
<!-- ToDo -->
<section>
  <p>followers</p>
  <p>following</p>
</section>
<section>Description: </section>


<main>
  <div class="posts">
    <div *ngFor="let post of posts" class="post">
      <p>{{ post.id }}</p>
    </div>
  </div>
</main>
