<div class="modal-overlay flex flex-center" (click)="closeModal()">
  <div class="modal flex flex-col" (click)="$event.stopPropagation()">
    <header class="modal-header flex flex-center">
      <strong class="following">Following</strong>
      <strong class="close" (click)="closeModal()">×</strong>
    </header>
    <div class="following-list">
      <div *ngFor="let followee of following" class="follower flex">
        <img [src]="followee.imageUrl || 'assets/profile.png'" alt="Profile Picture">
        <div class="followee-info flex flex-col">
          <strong>{{ followee.username }}</strong>
          <p>{{ followee.firstName }} {{ followee.lastName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
