<form class="flex flex-col" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
  <input type="password" formControlName="oldPassword" placeholder="Old Password" name="old-password">
  <input type="password" formControlName="newPassword" placeholder="New Password" name="new-password">
  <input type="password" formControlName="confirmNewPassword" placeholder="Confirm New Password" name="confirm-new-password">

  <button>Reset Password</button>

  <p class="error">{{ errorMessage }}</p>
</form>
