<div class="sidebar flex">
  <div class="logo">
    <img ngSrc="assets/logo.png" alt="Logo" height="138" width="138">
    <h2>
      <a href="#">Fitness App</a>
    </h2>
  </div>

  <ul class="options">
    <li>
      <a [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onLinkClick()">Home</a>
    </li>
    <li>
      <a [routerLink]="'/search'" routerLinkActive="active" (click)="onLinkClick()">Search</a>
    </li>
    <li>
      <a [routerLink]="'/chats'" routerLinkActive="active" (click)="onLinkClick()">Chats</a>
    </li>
    <li>
      <a [routerLink]="'/workouts'" routerLinkActive="active" (click)="onLinkClick()">Workouts</a>
    </li>
    <li>
      <a href="#" class="disabled">Meal Planner</a>
    </li>
    <li>
      <a href="#" class="disabled">Challenges</a>
    </li>
    <li>
      <a href="#" class="disabled">Notifications</a>
    </li>
    <li>
      <a [routerLink]="'/create-post'" routerLinkActive="active" (click)="onLinkClick()">Create</a>
    </li>
  </ul>

  <div class="profile">
    <a [routerLink]="username" routerLinkActive="active" (click)="onLinkClick()">Profile</a>
  </div>
</div>
