.sidebar {
  background-color: #3A9F87;
  color: #FFFFFF;
  height: 100vh;
  width: 20vw;
}

.logo {
  display: flex;

  img {
    height: 50px;
    width: 50px;
    margin: 15px 4px 15px 10px;
  }

  h2 {
    font-size: 32px;
    margin: 20px 10px;

    a {
      text-decoration: none
    }
  }
}

.options {
  font-size: 32px;
  font-weight: 600;

  li {
    margin-top: 25px;

    a {
      text-decoration: none;
      color: #FFFFFF;
      margin: 5% 10%;
    }
  }
}

.profile {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 30px 30px;
  bottom: 0;

  a {
    text-decoration: none
  }
}
