<div class="sidebar">
  <div class="logo">
    <img src="/logo.png" alt="Logo">
    <h2>
      <a href="#">Fitness App</a>
    </h2>
  </div>

  <ul class="options">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Search</a>
    </li>
    <li>
      <a href="#">Chats</a>
    </li>
    <li>
      <a href="#">Workouts</a>
    </li>
    <li>
      <a href="#">Meal Planner</a>
    </li>
    <li>
      <a href="#">Challenges</a>
    </li>
    <li>
      <a href="#">Notifications</a>
    </li>
    <li>
      <a href="#">Create</a>
    </li>
  </ul>

  <div class="profile">
    <a href="#">Profile</a>
  </div>
</div>
