.sidebar {
  background-color: #3A9F87;
  color: #FFFFFF;
  height: 100vh;
  width: 20vw;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 100vw;
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

  h2 {
    font-size: 28px;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

a {
  &.active {
    color: #FFD700 !important;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}


.options {
  font-size: 30px;
  font-weight: 600;
  list-style: none;

  li {
    margin-top: 15px;

    a {
      text-decoration: none;
      color: #FFFFFF;
      display: block;
      padding: 10px 0;
      transition: color 0.3s ease;

      &:hover {
        color: #FFD700;
      }
    }
  }
}

.profile {
  font-size: 32px;
  font-weight: 600;
  margin-top: auto;
  text-align: left;

  a {
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
      color: #FFD700;
    }
  }
}
