<div class="workouts-list">
  <div class="flex">
    <div class="welcome">
      <h1>Welcome back {{ user.firstName }}!</h1>
      <h2>Ready for toady's workout?</h2>
    </div>

    <div class="goal">
      <h2>Goal: {{ "Lose 5kg" }}</h2>
      <div class="status-bar-goal"></div>
      <div class="status-bar-done">
        <p>{{ "50%" }}</p>
      </div>
    </div>

    <div class="history">
      <button [routerLink]="'history'">See Your Workouts History</button>
    </div>
  </div>

  <div class="new-training flex flex-center">
    <h3>Want to add new training?</h3>
    <button [routerLink]="'new'">></button>
  </div>

  <div class="workouts grid grid-cols-3">
    <div class="workout new-workout flex" [routerLink]="'create'">
      <p>Create Workout</p>
    </div>
    <div [routerLink]="workout.url" class="workout" *ngFor="let workout of workouts">
      <img [src]="'assets/workout.svg'" alt="">
      <div class="time">
        Time: {{ workout.durationInMinutes }} min
      </div>
      <p>{{ workout.level }}</p>
      <h3>{{ workout.title }}</h3>
      <p>{{ workout.description }}</p>
    </div>
  </div>
</div>
