<ul class="sets">
  <li
    *ngFor="let set of exercise.sets; let i = index"
    [class.completed]="set.completed"
    class="set flex flex-center"
  >
    <div class="set-info">
      <p>Set {{ i + 1 }}: {{ set.reps }} reps {{ set.weight }} kg</p>
      <a class="delete-set" (click)="deleteSet(set.id)" *ngIf="workout.isCustom">×</a>
    </div>
  </li>
</ul>

<div class="add-set flex" *ngIf="workout.isCustom">
  <input
    type="number"
    placeholder="Reps"
    [(ngModel)]="newSet.reps"
    min="1"
    class="set-input"
  />
  <input
    type="number"
    placeholder="Weight (kg)"
    [(ngModel)]="newSet.weight"
    min="0"
    class="set-input"
  />
  <button
    (click)="addSet(exercise.id, newSet.reps, newSet.weight)"
    [disabled]="!newSet.reps || newSet.reps < 1 || newSet.weight < 0">
    + Add Set
  </button>
</div>
