.common {
  display: flex;
  margin-top: 25px;

  .new-post {
    position: absolute;
    left: 20vw;
    margin-left: 25px;
    margin-right: 100px;

    form {
      h1 {
        margin: 0 auto 20px;
      }

      .form-group {
        label {
          margin: 5px auto;
        }

        select {
          appearance: none;
          padding: 0.675em 6em 0.675em 1em;
          background-color: #fff;
          border: 1px solid #caced1;
          border-radius: 0.25rem;
          color: #000;
          cursor: pointer;
        }
      }

      h4 {
        margin-top: 20px;
      }

      .title-input, .description-input {
        appearance: none;
        border: none;
        outline: none;
        border-radius: 0.2em;
        padding: 0.6em;
      }

      input[type=file] {
        display: none;
      }

      label[for=file-image], label[for=file-video] {
        display: grid;
        justify-items: center;
        align-content: center;
        color: black;
        border: 0.2em solid #343A40;
        background: hsl(0 0 0/0);
        padding: 0.85em 1.5em;
        border-radius: 2em;
        transition: 0.5s;
        cursor: pointer;
        &:hover, &:focus, &:active {
          background: #343A40;
          color: #fff;
        }
      }

      .submit-button {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 10em;
        appearance: none;
        border: 0.2em solid #1F2833;
        background: hsl(0 0 0/0);
        padding: 0.85em 2em;
        color: black;
        border-radius: 2em;
        transition: 1s;
        cursor: pointer;
        &:hover, &:focus, &:active {
          background: #1F2833;
          color: #fff;
        }
      }
    }
  }

  .preview {
    //position: absolute;
    //left: auto;
    //right: auto;

    .post {
      height: auto;
      width: 750px;
      background-color: #FFFFFF;
      border-radius: 1em;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        header {
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;

          .image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

          p {
            margin: 10px;
            font-size: 24px;
            font-weight: 600;
            color: #333333;
          }

          .dot {
            margin-right: 10px;
            font-size: 32px;
          }

          .date {
            color: #888888;
          }

          .see-more {
            margin-left: auto;
            cursor: pointer;
          }
        }

        p {
          font-size: 16px;
          color: #555;
        }

        .media {
          width: 100%;
          img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
          }
        }

        .meta {
          height: 100%;
          font-size: 15px;
          color: #888;
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}
