<div class="create-post">
  <div class="create-post__form-wrapper">
    <form [formGroup]="postForm" (ngSubmit)="submitPost()" class="create-post__form">
      <h1 class="create-post__title">New Post</h1>

      <div class="create-post__group">
        <label class="create-post__label">Post Type:</label>
        <select class="create-post__select" formControlName="contentType">
          <option [value]="contentTypes.Text">Text</option>
          <option [value]="contentTypes.Image">Image</option>
          <option [value]="contentTypes.Video">Video</option>
        </select>
      </div>

      <ng-container [ngSwitch]="contentType">
        <ng-container *ngSwitchCase="contentTypes.Text">
          <div class="create-post__group">
            <label class="create-post__label">Title</label>
            <input class="create-post__input" formControlName="title" type="text" required />
          </div>
          <div class="create-post__group">
            <label class="create-post__label">Description</label>
            <input class="create-post__input" formControlName="description" type="text" required />
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="contentTypes.Image">
          <div class="create-post__group">
            <label class="create-post__label">Title (optional)</label>
            <input class="create-post__input" formControlName="title" type="text" />
          </div>
          <div class="create-post__group">
            <label class="create-post__label">Description (optional)</label>
            <input class="create-post__input" formControlName="description" type="text" />
          </div>
          <div class="create-post__group">
            <input id="file-image" type="file" (change)="onChange($event)" hidden />
            <label for="file-image" class="create-post__upload-btn">Upload Image</label>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="contentTypes.Video">
          <div class="create-post__group">
            <label class="create-post__label">Title (optional)</label>
            <input class="create-post__input" formControlName="title" type="text" />
          </div>
          <div class="create-post__group">
            <label class="create-post__label">Description (optional)</label>
            <input class="create-post__input" formControlName="description" type="text" />
          </div>
          <div class="create-post__group">
            <input id="file-video" type="file" (change)="onChange($event)" hidden />
            <label for="file-video" class="create-post__upload-btn">Upload Video</label>
          </div>
        </ng-container>
      </ng-container>

      <button type="submit" class="create-post__submit-btn">Create</button>
    </form>
  </div>

  <div class="create-post__preview">
    <div class="post">
      <header class="post__header">
        <img class="post__avatar" src="assets/profile.svg" alt="Profile" />
        <span class="post__username">username</span>
        <span class="post__dot">•</span>
        <span class="post__date">{{ Date.now() | date: 'mediumDate' }}</span>
        <img class="post__more-icon" src="assets/more.svg" alt="more options" />
      </header>

      <h3 class="post__title">{{ title }}</h3>

      <div class="post__media">
        <img *ngIf="contentType === ContentType.Image || contentType === ContentType.Video" [src]="contentUrl" alt="Preview" />
      </div>

      <div class="post__actions">
        <app-like></app-like>
        <app-comment></app-comment>
      </div>

      <p class="post__description">{{ description }}</p>
    </div>
  </div>
</div>
